
@{
    ViewData["Title"] = "Container";
}

<h1>Select a container to view</h1>

<select id="container-select">
    <option value="">Select a container...</option>
    @{ 
        List<Container> containers = (List<Container>) ViewData["Containers"];
        foreach(var container in containers)
        {
            @: <option value="@container.reference">@container.metaData.title</option>
        }
    };
</select>


<div class="row">
    <div class="col-8">
        <div id="files" class="border-right">



        </div>

    </div>

    <div class="col-4">
        <div id="selected">
            <button class="btn-sm btm-secondary" type="button" id="submit-files">Generate jupyter notebook file</button>
        </div>
    </div>
</div>

