
@{
    ViewData["Title"] = "Container";
}

<h1>Select a container to view</h1>

<select>
    <option value="c1">container1</option>
    <option value="c2">container2</option>
    <option value="c3">container3</option>
    <option value="c4">container4</option>
</select>