@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button onclick="fetch_test()">test fetch</button>
<script>
    const fetch_test = () => {
        let url = window.location.protocol + window.location.host
        let apiEndpoint = "/api/Generator/authCode"
        fetch(apiEndpoint).then(
            res => {
                return res.text()
            }
        ).then(
            json_obj => {
                console.log(json_obj)
            }
        )
    }






</script>