################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jupyter-code-generator/.vs/jupyter-code-generator
/test python/.ipynb_checkpoints
/test python
